@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figure,figcaption{
	margin:0;
	padding:0;	
}
body,html{
	width: 100%;
	font:12px "微软雅黑",Arial;	
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
	font-size:100%;	
}
i,em{
	font-style:normal;
}
img{
	vertical-align:middle;	
}
ul,ol{
	list-style:none;	
}
a{
	color:#666;	
	text-decoration:none;
}
input{
	outline:none;	
}
.clearfix:after{
	content:'';
	display:block;
	height:0;
	overflow:hidden;
	clear:both;	
}
.container{
	width: 1190px;
	margin: 0 auto;
}
